:root {
  --color-dark: #141619;
  --color-mid-dark: #2c2e3a;
  --color-deep-blue: #050a44;
  --color-bright-blue: #0a21c0;
  --color-light-gray: #b3b4bd;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-dark);
  color: var(--color-light-gray);
  font-family: Arial, sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--color-deep-blue);
  color: var(--color-light-gray);
  padding: 20px;
  text-align: center;
}

h2 {
  text-align: center;
}

nav {
  background-color: var(--color-mid-dark);
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  color: var(--color-light-gray);
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
}

nav a:hover {
  background-color: var(--color-bright-blue);
}

nav .active {
  background-color: var(--color-bright-blue); /* Highlight color */
  color: white; /* Text color for active link */
}

section {
  padding: 20px;
  background-color: var(--color-mid-dark);
  margin-top: 20px;
  border-radius: 8px;
  margin: 0 15px;
}

footer {
  background-color: var(--color-deep-blue);
  color: var(--color-light-gray);
  text-align: center;
  padding: 10px;
  margin-top: auto;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

video {
    display: block;
    margin: auto;
}

/* Word Count Table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 30%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
